.latestposts {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .latestposts-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  
  .latestposts-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .latestposts-item {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    
    /* Break words*/
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    /* Card Design */
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
  }
  
  .latestposts-content {
    text-align: center;
  }
  
  .latestposts-title {
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}
  
  .latestposts-date {
    font-size: 12px;
    color: #777;
    margin-top: 8px;
  }
  
  .latestposts-more {
    position: relative; 
    margin-top: 10px;
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
    align-self: flex-end; 
  }
  
  .latestposts-more:hover {
    text-decoration: underline;
  }
  
  /* Mobile View */
@media (max-width: 768px) {
    .latestposts-header {
      align-self: center;
      text-align: center;
    }
  
    .latestposts-list {
      flex-direction: column;
      align-items: center;
    }
  
    .latestposts-item {
      width: 80%;
    }
  
    .latestposts-more {
      position: relative;
      margin-top: 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-self: center; 
    }
}