.navbar {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
}

.navbar__container {
  display: flex;
  gap: 1.5rem;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.navbar__item {
  flex: 1 0 100px;
  text-align: center;
  font-weight: 600;
  width: 100%;
  white-space: nowrap; 
}

.navbar__link {
  font-size: 1.125rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #3b82f6;
}

@media only screen and (max-width: 600px) {
  .navbar__container {
    flex-direction: column;
    align-items: stretch;
  }
  
  .navbar__item {
    flex: 1 1 100%;
    width: 100%;
  }
}